<ngx-bp-header [links]="linksApp1">
<div logo>
  <img src="https://www.tsmean.com/assets/img/ng2lib.svg"
       width="30"
       height="30"
       alt="">
</div>
</ngx-bp-header>

<ngx-bp-header>
  <div logo>
    <img src="https://miro.medium.com/max/400/1*EZTTvM-WoQVNw1rZttsA_Q.png"
         width="30"
         height="30"
         alt="">
  </div>
</ngx-bp-header>
<ngx-bp-header>
  <div logo>
    <img src="https://images.indepth.dev/images/2020/03/repository.png"
         width="30"
         height="30"
         alt="">
  </div>
</ngx-bp-header>
<ngx-bp-header>
  <div logo>
    <img src="https://www.tsmean.com/assets/img/ng2lib.svg"
         width="30"
         height="30"
         alt="">
  </div>
</ngx-bp-header>
